<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), asset-url("../../app/assets/images/1954089b6276303c09a412e52627fee60b643ce3b9d6d9d21b9cc729a442aef6._SX1920_FMwebp_.png");">
  <div class="container">
    <h1>My <strong>Movie Lists</strong></h1>
    <p>Documenting the movies I have watsched</p>
    <!--<a class="btn btn-flat" href="#">Apply now</a> -->
  </div>
</div>
